<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Pete's Pet Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/layout.css" rel="stylesheet">
    <script src="/js/jquery-3.7.0.min.js"></script>
</head>

<body>
    <div class="layout">
        <div class="container"></div>
    </div>
</body>

</html>